<style>

.menuButtons {
  background: #eeeeee;
    position: absolute;
    z-index: 600;
}

.icon{
    width: 50px;}
</style>
<div class=" menuButtons  panel-default">
  <div class="panel-body">

<button  ng-hide="{{menu.hide_browse_button}}"   style="{{functionThatReturnsStyle()}}" ng-click="go('/'); screensaverOff();" "  class="btn btn-primary btn-lg"><img class="icon" src="img/back_arrow.png"/> </button>

<button    ng-hide="{{menu.hide_stories_button}}" style="{{functionThatReturnsStyle()}}"  ng-click="go('/grid/story');screensaverOff()" type="stories" class="btn btn-primary btn-lg">Stories</button>

<button    ng-hide="{{menu.hide_objects_button}}" style="{{functionThatReturnsStyle()}}"  ng-click="go('/grid/object');screensaverOff()"  type="objects"  class="btn btn-primary btn-lg">Objects</button>

<button    ng-hide="{{menu.hide_timeline_button}}" style="{{functionThatReturnsStyle()}}"  ng-click="go('timeline');screensaverOff()"  class="btn btn-primary btn-lg">Timeline</button>

<button    ng-hide="{{menu.hide_list_button}}" style="{{functionThatReturnsStyle()}}" ng-click="go('/list');screensaverOff()"  class="btn btn-primary btn-lg">List</button>

<button    ng-hide="{{menu.hide_slideshow_button}}" style="{{functionThatReturnsStyle()}}" id="childlinks"  ng-click="goSlideshow('/slideshow{{childlinks}}');screensaverOff()"  class="btn btn-primary btn-lg">Slideshow</button>

<button    ng-hide="{{menu.hide_feedback_button}}" style="{{functionThatReturnsStyle()}}" id="childlinks"  ng-click="go('/feedback');screensaverOff()"  class="btn btn-primary btn-lg">Feedback</button>
  </div>
</div>
