<style>

.menuButtons {
  background: #eeeeee;
    position: absolute;
    z-index: 600;
}

.icon{
    width: 50px;}
	
.volume{
display:none;
width: 90px;
    top: 100px;
    position: absolute;
    background-image: url('img/no_sound.svg');
    background-size: 60px;
    background-repeat: no-repeat;
    padding: 20px;
    background-position-x: 20px;
	   background-position-y: 10px;
    width: 80px;
    width: 100px;
    height: 80px;
	}
	
	.fixbutton{
	position: fixed;
	}
</style>

<div class=" menuButtons  panel-default">
  <div class="panel-body">

<button  ng-hide="{{menu.hide_browse_button}}"   style="{{functionThatReturnsStyle()}}" ng-click="go(kiosk); screensaverOff();" "  class="fixbutton hvr-grow btn btn-primary btn-lg"><img class="icon" src="img/back_arrow.png"/> </button>

<button  ng-hide="{{menu.hide_browse_button}}"   style="{{functionThatReturnsStyle()}}" ng-click="killsound()"   class="icon btn  btn-lg volume"></button>


<button    ng-hide="{{menu.hide_timeline_button}}" style="{{functionThatReturnsStyle()}}"  ng-click="go('timeline');screensaverOff()"  class="btn btn-primary btn-lg">Timeline</button>

<button    ng-hide="{{menu.hide_list_button}}" style="{{functionThatReturnsStyle()}}" ng-click="go('/list');screensaverOff()"  class="btn btn-primary btn-lg">List</button>

<button    ng-hide="{{menu.hide_slideshow_button}}" style="{{functionThatReturnsStyle()}}" id="childlinks"  ng-click="goSlideshow('/slideshow{{childlinks}}');screensaverOff()"  class="btn btn-primary btn-lg">Slideshow</button>

<button    ng-hide="{{menu.hide_feedback_button}}" style="{{functionThatReturnsStyle()}}" id="childlinks"  ng-click="go('/feedback');screensaverOff()"  class="btn btn-primary btn-lg">Feedback</button>
  </div>
</div>
