<div  ng-hide="screensaver_on" ng-hide="currentPath === '/'"  ng-include="'html/menu.html'"></div>
	
  <md-content id="content-scroller" >
<style>
.thumb_box{
margin-right:20px;
}
</style>

<div class="col-md-12" id="heading">
 <div class="featurette-heading ">
    <h2> {{location}}</h2>
  </div>
  </div>
<div class="container-fluid">
<div class="row">


	<div class="col-md-2">   

	<div class="form-group">
			<label for="sel1">Gallery:</label>
			<select class="form-control"  ng-options="item as item for item in galleries " ng-model="location" class="selectpicker">
			   <option  value=""></option>
			</select>
		</div>

		
		<div style="display:none" class="form-group">
			<label for="sel1">Select list:</label>
			<select class="form-control" ng-change="update(listType)" ng-options="item as item.label for item in items " ng-model="listType" class="selectpicker"></select>
		</div>
		
	
		<div class="form-group">
			<label for="usr">Search:</label>
			<input class="form-control" ng-model="queryInput">
		</div>
		<div style="display:none" class="form-group">
			<label for="sel1">Sort by:</label>
			<select class="form-control"  ng-model="orderProp">
			<option value="name">Alphabetical</option>
			<option value="age">Newest</option>
			</select>
		</div>
	
		<div class="form-group">
			<label for="sel1">Artist:</label>
			<select  ng-disabled="field.selectable"   ng-change="artistUpdate(artist_listType)"  id="artistSelect_list" class="form-control"  ng-options="item as item.name  for item in artists | orderBy:'name'" ng-model="artist_listType" class="selectpicker">
			  <option  value=""></option>
			</select>
		</div>
		
		<div class="form-group" style="display:none">
			<label for="sel1">Artist:</label>
			<select  ng-disabled="field.selectable" id="artistSelect" class="form-control"  ng-options="item.link as item.name for item in artists " ng-model="artist" class="selectpicker">
			  <option value=""></option>
			</select>
		</div>
		
		
		<div class="form-group">
				<button class="btn btn-secondary" ng-click="filterReset()">Reset filter</button>
		</div>

	

		
	</div>


	 <div class="col-md-10">
			<div 
			class="list-group media" 
			dir-paginate="museum_object in (museum_objects |filter:_artist:artist |filter:crabs:title|orderBy:orderProp|itemsPerPage:10)">	
				
				<a   href="#id/{{museum_object.id}}/{{kiosk}}" class="list-group-item-index list-group-item" >
					<div class="thumb_box">
						<img  ng-src="{{directory}}/assets/{{museum_object.image}}_thumb.jpg">
					</div>
					<h3 class="list-group-item-heading">{{museum_object.name||museum_object.title|| museum_object.object_name+ ": " + museum_object.type[0]}}</h3>
					<h4 class="list-group-item-heading">{{museum_object.number}}</h4>
					<div  ng-repeat="artist in museum_object.artists" class="featurette" id="about">	
					<h4 class="list-group-item-heading" >{{artist.name}}</h4>
				
					</div>
					<!--<p class="list-group-item-text">{{museum_object.description}}</p>-->
				
				</a>
			</div>   
	<dir-pagination-controls></dir-pagination-controls>
	</div>  
</div>  
</div>  
  </md-content>