<div  ng-hide="{{}}" ng-hide="currentPath === '/'"  ng-include="'html/menu.html'"></div>

  <md-content id="content-scroller" >
<style>
/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
 a{
color:blue !important;
}
.container{
background-color:white;
}

.fotorama__caption {
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
}
.icon{
-webkit-filter: invert(100%);
}
.play_button{
    position: absolute;
    width: 86px;
    height: 96px;
    right: 20%;
    top: 4%;
    margin-left: -48px;
    margin-top: -48px;
    background-position: 0 -64px;

    z-index: 500;
    cursor: pointer;
    background: url(img/fotorama.png) no-repeat;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 100px;
    background-position-x: -10px;
    background-position-y: -70PX;
	}

</style>
<script>
$(document).scrollTop(0);
</script>

<div class="panel-body ">

	<div ng-if="irn "  class="panel-heading">This {{museum_object.type[0]}} is part of <a href="#/id/{{irn.id}}/{{irn.link}}"   ng-repeat="irn in museum_object.parent">
		{{irn.name}}
	</a>
	</div>
</div>

<!-- Page Content -->
<div class="container" >
	<!-- story Featurette -->
	<div class="featurette" >

		<a  style="display:none" href="#/slideshow/ids/{{museum_object.id}}/{{kiosk}}">
		<img  style="{{functionThatReturnsStyle()}}" 
		ng-pinch-zoom max-scale=“4” class="museum_object featurette-image img-responsive pull-right" 
		ng-src="{{directory}}/assets/{{img.image}}_detail.jpg"
		ng-repeat="img in museum_object.images"
		ng-class="{active: mainImageUrl==img.image}" ><div  style="{{video_button_style()}}" /></a>
		<div       id="{{museum_object.id}}_fotorama" ng-click="screensaverOff()" class="fotorama featurette-image img-responsive pull-right""
			data-shadows="true"
		    data-thumbborderwidth="6"
		   
		    data-stopautoplayontouch="true"
		    data-arrows="always"
	        data-click="false"
    	    data-auto="true"
	       
            data-autoplay="true"
            data-maxheight="100%"
	        data-nav="thumbs"
		    data-thumbwidth="125px";
		    data-thumbheight="125px";
		    data-loop="true"
		    data-shuffle="{{shuffle}}"
		    data-allowfullscreen="true"
		    data-keyboard="true"
		
		
></div>

		<h2  class="featurette-heading">{{museum_object.name}}</h2>
		
		
		<p class="text-muted" ng-hide="museum_object.summary==null">"{{museum_object.summary}}"</p>
	
		<div  ng-repeat="artist in museum_object.artists" class="featurette" id="about">	
		<p class="featurette-heading">{{artist.name}} 	</p>
		<p ng-if="artist.birth && artist.birth " class="lead angular-with-newlines">birth {{artist.birth}}, death {{artist.death}}	</p>
		</div>
		<h4 class="lead angular-with-newlines">{{museum_object.number}}</h4>
		<h4 class="lead angular-with-newlines">{{museum_object.method}}</h4>	
		<br>		
		<p class="lead angular-with-newlines ">{{museum_object.description}}</p>
		<p class="lead angular-with-newlines ">{{museum_object.credit_line}}</p>
	</div>
	<hr ng-hide="museum_object.summary==null" class="featurette-divider" >  
	<!-- image Featurette -->
	
	<div style="display:none"  class="featurette" id="services"  ng-repeat="img in museum_object.images">
	 <img class="featurette-image img-circle img-responsive" ng-class-odd="'pull-left'"  ng-class-even="'pull-right'" ng-src="{{directory}}/assets/{{img.image}}_detail.jpg">
	 
		<div class="col-lg-12">
			<p>image: {{img.copyright}}</p>
		</div>
		<p class="lead angular-with-newlines ">{{img.description}}</p>
		
	</div>


	</div>

<div  class="container" ng-hide="museum_object.child.length==0">
 <h2>Read More about this:<h2>
 <div class="panel-body">
    <div
             class="cards-wrap"
             angular-grid="vm.shots"
			 autoscroll="true"
             ag-grid-width="300"
             ag-performant-scroll="true"
             ag-gutter-size="12"
             ag-id="shots"
             ag-infinite-scroll="vm.loadMoreShots()"
             >
          <div class="card hvr-grow" ng-repeat="irn in museum_object.child track by $index">
		  <a  style="{{changeheadingcolor()}}"   href="#id/{{irn.id}}/{{kiosk}}"  >
            <div class="img hvr-grow" style="background-image: url({{directory}}/assets/{{irn.image}}_detail.jpg);"></div>
            <div class="inside">
              <h3>{{irn.name}}</h3>
              <div class="description" ng-bind-html="::irn.description | unsafe"></div>
            </div>
		</a>
          </div>
        </div>
</div>
</div>



 <!-- Footer -->
   <md-toolbar ng-hide="true" class="md-whiteframe-z2">
    <div  class="md-toolbar-tools">
		 
	 <form novalidate>

		<button class="btn btn-secondary pull-right"   ng-hide="lastOne==true" ng-click="pagenav('next')" >NEXT</button>
	<button class="btn btn-secondary pull-left" 	  ng-hide="firstOne==true" ng-click="pagenav('prev')">PREVIOUS</button>
	
  </form>
  </div>
 </md-toolbar>
  </md-content>


 
